<html>
<body>
<h1>Redirect check - logs</h1>
<p>
Source: great.gov.uk    Expected result: (ok)    Actual result: (ok) -- Result: GOOD<br/>
Source: find-a-buyer.export.great.gov.uk    Expected result: (ok)    Actual result: (ok) -- Result: GOOD<br/>
Source: sso.trade.great.gov.uk    Expected result: (ok)    Actual result: (ok) -- Result: GOOD<br/>
Source: trade.great.gov.uk    Expected result: (ok)    Actual result: (ok) -- Result: GOOD<br/>
Source: invest.great.gov.uk    Expected result: (ok)    Actual result: Bad cert please check site! -- Result: BAD<br/>
Source: export.great.gov.uk    Expected result: (ok)    Actual result: Bad cert please check site! -- Result: BAD<br/>
Source: selling-online-overseas.export.great.gov.uk    Expected result: (ok)    Actual result: Bad cert please check site! -- Result: BAD<br/>
--  All Sites Checked -- Bad Redirects Detected --
</p>
</body>
</html>
